.description_block {
  display: grid;

  grid-template-areas:
  "a d";
  grid-template-rows: 2fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 30px;

  padding: 20px;
  }

  .profile__img {
    width: 100%;
    height: 150px;
  }

  .avatar {
    grid-area: a;
    width: 250px;
    height: 250px;
    overflow: hidden;
  }

  .avatar .ava__img {
    width: 100%;
  }

  .description {
    grid-area: d;

    font-size: 30px;
  }
  
